
html, body {
    font-family: 'Roboto', sans-serif;
    height: 96%;
}

body {
    margin: 0;
    font-size: 1.25em;
}


/* ci-dessous amorce de la feuille client.css */
/* 1em =~ 16px */ 


/* bandeau */
#pf_bandeau {                               /* conteneur du bandeau */
}
#pf_bandeau .navbar-brand {                 /* bandeau texte */
    font-size: 1.6em;
}

/* footer */
 #pf_footer{                                /* footer position*/
    position: relative;
    left:0;
    bottom:0;   
}
 #pf_footer a{                              /* footer lien*/
    width:200px;
    display: block;
    margin-left: auto;
    margin-right: auto ;
 }
 #pf_footer img{                              /* footer image*/
    width:200px;
}

/* page : conteneur entre le bandeau et le footer */
.pf_page{
    width:100%;
    overflow-y:auto;
    min-height:92%;
    background-color : white;
}

/* page d'accueil : page de liste des thèmes */
#pf_theme_conteneur{                       /* la page de la listes des thèmes*/
    max-width: 70%;
    margin: 4em auto;
}
#pf_theme_texte{
    text-align: center;
}
#pf_list_theme_conteneur{                  /* le conteneur du bloc de thèmes*/
    background-color: #E8E8E8;
    width:100%;
    margin-top : 2em;
    padding:auto;
    display:inline-flex;
    flex-wrap: wrap;
}
.pf_theme {                                /* chaque bloc de thème*/
    width:40em;
    margin: 3rem;
}
.pf_theme_formulaire{                       /* sous thème */
    height: 3em;
    margin-bottom : 1.4em;
}
.pf_theme_formulaire a {                           /* sous thème */
    color: #555;
    position: relative;
    display: block;
    text-decoration: none;
    background-color: white;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 15px;
}
.pf_theme_formulaire a :hover {                     /* sous thème */
    color: #555;
    text-decoration: none;
    background-color: #f5f5f5;
}

/* page d'affichage des messages */
#pf_message{                              /* bloc d'affichage du message */
    margin:0 auto;
    width: 50em;
}

/* autres pages : style des blocs */
.pf_bloc {
    width : 100%;
    padding-left : 0.6em;
    display: inline;
    margin-right: 1.3em;
}
.pf_bloc_titre{
    text-align : center;
    margin-bottom:1.3em;
    padding-top: 0.6em;
    background-color: white;
}
.pf_bloc_conteneur{
    display:flex;
    flex-wrap: wrap;
}
.pf_boutons{
    display: inline;
    margin :0.6em;
}
.pf_btn{                                /* boutons d'action */
    color: white;
    background-color: rgb(36, 148, 212);
.pf_syntax-error                                                            /* couleur de fond des champ si erreur*/
{
    background-color: #f78383 !important;
}
.pf_syntax-ok
{
    background-color: #EEEEEE !important;
}
}






