html, body {
    font-family: 'Roboto', sans-serif;
    height: 96%;
}
body {
    margin: 0;
}

.pf_barre{
    background-color : #649AF9;
}
.pf_barre a {  
    text-decoration: none;
    color: white;
}
.pf_barre a:hover, a:active { 
    color: lightgray;
}