
// Variables
:root
{
/* site */
    --site_largeur :100%;
    --site_couleur_fond : white;
	
/* toutes les pages */
    --page_largeur : 70%;
    --page_couleur_fond : #F9FBAC;
    --page_fonte_nom: Roboto;
    --page_fonte_serif: sans-serif;
    --page_fonte_taille : 1.25em; 
    --bloc_gauche_largeur : 10em;
    --bloc_central_largeur : 40em;
    --bloc_droit_largeur : 10em;
    
/* bandeau */
    --bandeau_couleur_fond : white;
    --bandeau_largeur : 70%;
    --bandeau_hauteur : 4em;  
    --bandeau_bouton_couleur_survol : black;
    --bandeau_taille_police : 1.6em;    

/* boutons */
    --boutons_fond_couleur : #9EB99B;
    --boutons_police_couleur : rgb(0, 0, 0);    

/* page liste des thèmes */ 
    --themes_bloc_largeur : auto;
    --themes_bloc_marge : 3rem;
    --themes_fond_couleur : grey;
    --themes_police_couleur : black;
    --themes_police_couleur_survol : rgb(0, 0, 0);
    --soustheme_bloc_hauteur : 3em;
    --soustheme_bloc_marge_dessous : 1.4em;
    --soustheme_bordure_couleur_survol : black;
    --soustheme_fond_couleur : yellow;
    --soustheme_fond_couleur_survol : rgb(0, 0, 0);
/* thèmes menu*/
    --themes_menu_marge_dessous : 3em;
    --themes_menu_direction : row; 
    --themes_menu_fond_couleur : yellow;
    --themes_menu_fond_couleur_select : green;
    --themes_menu_item_alignement : center;
    --themes_menu_police_taille : 1.6em;
    --themes_menu_police_couleur : black; 
    

/* page login */
    --login_bloc_largeur :  25em;   
    --login_titre_fond_couleur : rgb(146, 146, 146);
    --login_titre_texte_couleur : rgb(255, 148, 212);
    --login_bordure_couleur : rgb(255, 148, 212);
	
/* page formulaires */
    --bloc_fond_couleur : #F4F4F4;
    --bloc_titre_fond_couleur : white;  

/* messages et alertes */    
    --modale_texte_couleur : black;
    --modale_texte_taille : 2.5em;
    --modale_bouton_fond_couleur : #333030;
    --modale_bouton_texte_couleur : #fff;
    --modale_bouton_texte_taille : 1em;

/* validation des champs */    
    --syntax_error_fond_couleur : rgb(255, 148, 212); 
    --syntax_ok_fond_couleur : white; 
   
/* footer */   
	--footer_image_taille : 12.5em;
}
