// Variables
	
:root
{
	//colors
	--color_curious_blue_approx : rgb(255, 148, 212);
	--color_cararra_approx : rgb(241, 234, 0);
	--white : rgb(195, 211, 49);
	--color_gray_nurse_approx : #d44444;
	--color_fuscous_gray_approx : rgb(122, 106, 106);
	--color_alto_approx : #cf8f8f;
	--color_wild_sand_approx : #c74040;
	--color_steel_blue_approx : #0f2c46;
	--color_charlotte_approx : #2d494e;
	--color_suva_gray_approx : rgb(73, 52, 52);
	--color_geraldine_approx : #e6dfdf;
	--color_gallery_approx: #611d1d;
	--red : red;
	--web_orange : orange;
	--color_japanese_laurel_approx : green;
	--color_mine_shaft_approx : #333;

	//fonts
	--font_0: Roboto;
	--font_1: sans-serif;
}